@model ITWEB_Mandatory5.ViewModels.CategoryVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Category";
}

<body>
    <div class="container">
        <form asp-controller="Category" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name">
            </div>
            <button type="submit">Create category</button>
        </form>
    </div>
</body>