@model ITWEB_Mandatory5.ViewModels.CategoryVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Category";
}


<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="categoryNameInput">Category Name:</label>
                <input type="text" class="form-control" id="categoryNameInput" Value="Model.Name" placeholder="Enter category name">
            </div>
            <div class="form-group">
                <label for="categoryComponentTypeSelect">Select a Component Type</label>
                <select class="form-control" id="categoryComponentTypeSelect">
                    @foreach (var ComponentType in Model.ComponentTypes)
                    {
                        <option> @ComponentType.ComponentName </option>
                    }
                </select>
            </div>
        </form>
    </div>
</body>