@model ITWEB_Mandatory5.ViewModels.ComponentVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Component";
}

<body>
    <div class="container">
        <form asp-controller="Component" asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="ComponentTypeId"></label>
                <select asp-for="ComponentTypeId" asp-items="@ViewBag.ComponentTypeList"></select>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@ViewBag.ComponentStatusList"></select>
            </div>

            <div class="form-group">
                <label asp-for="ComponentNumber"></label>
                <input asp-for="ComponentNumber">
            </div>

            <div class="form-group">
                <label asp-for="SerialNo"></label>
                <input asp-for="SerialNo">
            </div>

            <div class="form-group">
                <label asp-for="AdminComment"></label>
                <input asp-for="AdminComment">
            </div>

            <div class="form-group">
                <label asp-for="UserComment"></label>
                <input asp-for="UserComment">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</body>