@model IEnumerable<ITWEB_Mandatory5.ViewModels.ComponentTypeVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create Component Type";
}


<body>
    <div class="container">
        <form role="form">
            <div class="form-group">
                <label for="inputComponentName">Component Name</label>
                <input type="text" class="form-control" value="Model.Componentname"
                       id="inputComponentName" placeholder="Enter component name" />
            </div>
            <div class="form-group">
                <label for="inputComponentInfo">Component Info</label>
                <input type="text" class="form-control" value="Model.ComponentInfo"
                       id="inputComponentInfo" placeholder="Enter component info" />
            </div>
            <div class="form-group">
                <label for="inputComponentLocation">Component Location</label>
                <input type="text" class="form-control" value="Model.Location"
                       id="inputComponentLocation" placeholder="Enter component Location" />
            </div>
            <div class="form-group">
                <label for="inputComponentTypeStatusList">Component Type Status</label>
                <select class="form-control" id="inputComponentTypeStatusList">
                    @foreach (var ComponentTypeStatus in Model)
                    {
                        <option> @ComponentTypeStatus.Status </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="inputComponentDatasheet">Component Datasheet</label>
                <input type="text" class="form-control" value="Model.Datasheet"
                       id="inputComponentDatasheet" placeholder="Enter component datasheet" />
            </div>
            <div class="form-group">
                <label for="inputComponentImageUrl">Component ImageUrl</label>
                <input type="text" class="form-control" value="Model.ImageUrl"
                       id="inputComponentImageUrl" placeholder="Enter component ImageUrl" />
            </div>
            <div class="form-group">
                <label for="inputComponentManufacturer">Component Manufacturer</label>
                <input type="text" class="form-control" value="Model.Manufacturer"
                       id="inputComponentManufacturer" placeholder="Enter component Manufacturer" />
            </div>
            <div class="form-group">
                <label for="inputComponentWikiLink">Component WikiLink</label>
                <input type="text" class="form-control" value="Model.WikiLink"
                       id="inputComponentWikiLink" placeholder="Enter component WikiLink" />
            </div>
            <div class="form-group">
                <label for="inputComponentAdminComment">Component Admin Comment</label>
                <input type="text" class="form-control" value="Model.AdminComment"
                       id="inputComponentAdminComment" placeholder="Enter admin comment" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>