@model ITWEB_Mandatory5.ViewModels.ComponentTypeCreateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Component Type";

}


<body>
    <div class="container">
        <form asp-controller="ComponentType" asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="AdminComment"></label>
                <input asp-for="AdminComment">
            </div>
            <div class="form-group">
                <label asp-for="ComponentInfo"></label>
                <input asp-for="ComponentInfo">
            </div>
            <div class="form-group">
                <label asp-for="ComponentName"></label>
                <input asp-for="ComponentName">
            </div>
            <div class="form-group">
                <label asp-for="Datasheet"></label>
                <input asp-for="Datasheet">
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl">
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location">
            </div>
            <div class="form-group">
                <label asp-for="CategoryIDs"></label>
                <select asp-for="CategoryIDs" asp-items="@ViewBag.CategoryList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <input asp-for="Manufacturer">
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@ViewBag.ComponentTypeStatusList"></select>
            </div>
            <div class="form-group">
                <label asp-for="WikiLink"></label>
                <input asp-for="WikiLink">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>